* {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #fff;
}
.flex {
  display: flex;
}
.justify-sb {
  justify-content: space-between;
}
.m-20 {
  margin: 20px;
}
