* {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #fff;
}
.flex {
  display: flex;
}
.justify-sb {
  justify-content: space-between;
}
.m-20 {
  margin: 20px;
}
.p-5 {
  padding: 5px;
}
.d-visilibity {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
  z-index: -1;
}
.mtb-10 {
  margin: 10px 0;
}
